.todo {

   &__main {
      
   }

   &__list {
      background-color: #fff;
      padding: 10px 30px 60px 30px;
      min-height: 500px;
      padding-bottom: 40px;
   }

   &__item {
      margin-bottom: 5px;
      font-size: 20px;
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 15px 5px;
      &:hover{
         background-color:#f2fbff;
         transition: .3s;
         &:not(.todo__item--completed) svg {
            background-color: #A8DCF9;
            transition: .3s;
         }
      }
      & span {
         flex: 1;
      }
      & svg {
         width: 40px;
         height: 40px;
         background-color: #fff;
         border-radius: 50%;
      }
   }

   &__item--completed {
      text-decoration: line-through;
      word-wrap: break-word;
      color :#57d1f9;
      & svg {
         &:hover {
            background-color: #fc94a7;
            fill:black;
            transition: .5s;
            animation: shake .5s;
            @keyframes shake {
               10%{
                  transform: rotate(10deg);
               }
               50%{
                  transform: rotate(-10deg);
               }
            }
         }
      }
   }
}

