.footer {
   &__add-form {
      padding: 10px;
      background-color: #fff;
      display: flex;
      & svg {
         cursor: pointer;
         border-radius: 50%;
         background-color: #3273C7;
         fill: #fff;
         width: 50px;
         height: 50px;
         min-width: 50px;
         &:hover,
         &:focus{
            transition: .5s ease-in-out;
            animation: spin .5s;
            @keyframes spin {
               50%{
                  transform: rotate(75deg);
               }
            }
         }
      }
   }
   &__add-input{
      padding: 5px 5px 5px 15px;
      border-radius: 5px;
      margin-right: 5px;
      font-size: 20px;
      flex:1;
      min-width: 200px;
      background-color: #C2EFFA;
   }
}